* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
}

#generaPass, #annullaPass {
    background-color: lightgrey;
}

#generaPass:hover, #annullaPass:hover {
    background-color: rgb(187, 185, 185);
}

label {
    color: #b915ae;
}

div strong {
    color: #b915ae;
}

.es_left {
    border-right: 5px dotted #202030;
}

.es_ticket {
    border: 2px dotted #202030;
}

.es_calcola, .es_ticket {
    background-color: rgba(255, 255, 255, 0.7);
}